<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910058581096-1i6ars60dh235nnnsnaorl9g7frj41pp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910058581096-1i6ars60dh235nnnsnaorl9g7frj41pp</string>
	<key>API_KEY</key>
	<string>AIzaSyDW7LaGk5Vx3f4LvuRJoER2amTKUGuhoAc</string>
	<key>GCM_SENDER_ID</key>
	<string>910058581096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterwebtest</string>
	<key>PROJECT_ID</key>
	<string>web-test-3062e</string>
	<key>STORAGE_BUCKET</key>
	<string>web-test-3062e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910058581096:ios:7732c7e47f51a08b211fdd</string>
</dict>
</plist>